# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.cache

.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# virtual environment
.env
.venv
env/
venv/
ENV/


# mkdocs documentation
/site

introduction.txt
